{
  "$schema": "https://opencode.ai/config.json",
  "theme": "ayu",
  "autoupdate": true,
  "mcp": {
    "frame0-mcp-server": {
      "type": "local",
      "command": [
        "npx", 
        "-y", 
        "frame0-mcp-server", 
        "--api-port=58320"
      ]
    },
    "linear": {
      "type": "local",
      "command": [
        "npx", 
        "-y", 
        "mcp-remote", 
        "https://mcp.linear.app/sse"
      ]
    },
    "github": {
      "type": "local",
      "command": [
        "npx", 
        "-y", 
        "mcp-remote", 
        "https://api.githubcopilot.com/mcp/",
        "--header",
        "Authorization: Bearer ${GITHUB_COPILOT_TOKEN}"
      ]
    }
  }
}